@{
	ViewData["Title"] = "Sobre Mim";
}


<div class="container mt-5">

	<div class="row">
		<h1 class="text-center mb-5">@ViewData["Title"]</h1>
		<div class="col-12 col-md-3 text-center fw-bold">

			<div>
				<img src="~/img/eu.jpg" class="img-thumbnail" alt="..." style="width: 200px">
				<h4 class="card-title">Karen Santos</h4>
			</div>
		</div>
		<div class="card shadow-sm h-100 col-12 col-md-9" ">
			<div class="card-body>
				<p class="card-text">
					Me chamo Karen Cristinne dos Santos, nasci em 15 de abril de 2009 e atualmente tenho 16 anos.
				</p>
				<p class="card-text">
					Estudo na Escola SESI 026, localizada em Jaú - SP, desde o primeiro ano. Atualmente, estou no 2º ano do Ensino Médio Técnico, cursando Desenvolvimento de Sistemas (DS) pelo SENAI.
				</p>
				<p class="card-text">
					Caso tenha interesse em conhecer mais sobre meus projetos ou saber mais sobre mim, você pode acessar os links abaixo:
				</p>
				<div>
					<a href="https://github.com/karensantos09" target="_blank" class="btn btn-outline-dark me-2">
						<i class="bi bi-github"></i> GitHub
					</a>
					<a href="https://www.instagram.com/karen_cdss/#" target="_blank" class="btn btn-outline-primary">
						<i class="bi bi-Instagram"><i class="bi bi-instagram"></i></i> Instagram
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


